html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #f4f7fa;
  // background: #f3f3f3;
  #app {
    height: 100%;
  }
}
// 左侧导航图表垂直方向对齐
// 宽度还得自己设定，坑死
.el-menu {
  width: 100%;
  border-right: none!important;
}
.el-menu-item [class^='el-icon-'] {
  vertical-align: middle;
  color: #ddd;
}
.el-submenu [class^='el-icon-'] {
  color: #ddd;
}
.el-submenu__title i {
  vertical-align: middle;
  color: #ddd;
}

// 自定义必填项的左上角红色星号
.required-self label.el-form-item__label:before {
  content: '*';
  color: #ff4949;
  margin-right: 4px;
}
#sidebar-wrap ul ul li {
  background: rgba(40, 52, 70, 1) !important;
  &:hover {
    background: #48576a !important;
  }
}

.el-menu .el-submenu__title i {
  color: #fff;
}
