html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #f4f6f9;
  // background: #f3f3f3;
  #app {
    height: 100%;
  }
}
// 左侧导航图表垂直方向对齐
// 宽度还得自己设定，坑死
.el-menu {
  width: 100%;
  border: none !important;
}
.el-menu-item [class^='el-icon-'] {
  vertical-align: middle;
  color: #546e7a;
}
.el-menu-item:hover {
  background-color:#8c99e0 !important;
  color:#fff !important;
}
.el-submenu [class^='el-icon-'],
.el-submenu__title i {
  color: #546e7a;
  font-weight: bold;
}

.el-menu-item.is-active {
  font-weight: bold;
}

.bg form .el-input__inner {
  background: transparent;
  color:#fff;
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
}

.el-card__header::before {
  background: #6572b8;
  position: absolute;
  width: 2px;
  height: 21px;
  display: block;
  margin-left: -21px;
  content: '';
}

// 自定义必填项的左上角红色星号
.required-self label.el-form-item__label:before {
  content: '*';
  color: #ff4949;
  margin-right: 4px;
}
